{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} درباره ما {% endblock %}

{% block content %}

        <div class="p-5 " style="background-color: azure; height:600px;">


           <h3>تاریخچه:</h3>
           <br>
           <p class="col-lg-10 col-sm-11">
مدرسه مفيد قدمتي نزديک به ٤٠ سال دارد؛ يعني
 زماني که موسسان موسسه خيريه مکتب اميرالمومنين(ع)
 ، با محوريت حضرت ايت الله موسوي
  اردبيلي بر آن شدند تا با هدف اشاعه فرهنگ ديني
  ، مدرسه اي را تاسيس کنند.
   اين مدرسه سال۱۳۵۱ در حوالی ميدان انقلاب
   ، با مدرسه راهنمايي آغاز
    به کار کرد. پس از مدتي با تاسيس دبيرستان، به خيابان زنجان منتقل شد .
     بعد از گذشت بيش از دو
     دهه، دبيرستان و راهنمايي مفيد دو نيز در سالهاي ۷۱و ۷٦ در منطقه قيطريه تهران
     ، در بلوار کاوه تاسيس شدند. شعبه سوم دبيرستان مفيد، با گرايش رشته علوم انساني علاوه
     بر رشته رياضي و فيزيک در
      سال ٨۳ در حوالي ميدان ونک
     آغاز به کار کرد. پس از آن،
     با توجه به احساس ضرورت و اهميت مقطع دبستان، واحد پيش دبستان و
      دبستان مفيد نيز در سال ٨٨ در خيابان شريعتی فعاليت
     خود را آغاز کرد. از سال تحصيلی ۹٠-۹۱ دو واحد پيش
     دبستان و دبستان پسرانه يکی
      در منطقه دو تهران و ديگری
      در قم آغاز به کار کردند.
     همچنين دبستان و دبیرستان
     دخترانه نيز در اين سال تاسيس شد.
     هم اکنون مجتمع آموزشی مفيد، با چهار پيش دبستان و دبستان، پنج دبیرستان دوره
     اول و سه
      دبيرستان دوره دوم، پذيرای فرزندان شما خواهد بود.</p>
        </div>
{% endblock %}