{% extends 'base.html' %}
{% load static %}
{% block title %}کلاس{% endblock %}
{% block content %}

<div class="d-flex justify-content-center m-0 text-center text-muted pt-5">
<h3>کلاس</h3>
</div>

<div class="d-flex justify-content-center p-5 text-center">
    <table class="table text-muted bg-muted col-8">
        <thead>
        <th>معلم</th>
            <th>سال تحصیلی</th>
            <th>گروه</th>
            <th>پایه</th>
        </thead>
        <tr>
            <td>{{ classroom.teachers.first}}</td>
            <td>{{ classroom.education_year }}</td>
            <td>{{ classroom.branch }}</td>
            <td>{{ classroom.level_field }}</td>
        </tr>
    </table>
</div>

{% endblock %}





