{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} ارتباط با ما {% endblock %}

{% block content %}

        <div class="p-5 " style="background-color: azure; height:600px;">
           <div class="container">
                <div class="jumbotron">
                  <div class="row">

                        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                          <div class="container" style="border-bottom:1px solid black">
                            <h2>پل های ارتباطی</h2>
                          </div>
                            <hr>
                          <ul class="container details">
                            <li><span>تلفن تماس: </span><span>55-55-5555-9821+</span></li>
                           <li><span>پست الکترونیک: </span><span>mofid@yahoo.com</span></li>
                           <li><span>أدرس: </span><span>تهران - تیموری</span></li>
                        </ul>
                        </div>
                  </div>
                </div>
           </div>
        </div>

{% endblock %}