{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}داشبورد{% endblock %}
{% block style %}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: white;
}

a:hover{
    color: white;
}

#wrapper li:hover {
    background-color: darkcyan;
}

#wrapper li{
    background-color: #77B6AE;
    width: 280px;
    padding: 20px;
}

{% if user.groups.all.0.name == "student" or user.groups.all.0.name == "parent" or user.groups.all.0.name == "teacher" %}
    #manage_teachers{
    display: none;
    }
    #manage_students{
    display: none;
    }
    #teacher_course_to_class{
    display: none;
    }
    #register_student_in_class{
    display: none;
    }
{% endif %}

{% endblock %}

{% block content %}


<div id="wrapper" class="d-flex px-0" >
        <!-- Sidebar -->
        <div id="sidebar-wrapper col-sm-12" style="background-color: #77B6AE;">
            <ul class="sidebar-nav pb-5 p-0 ">
                <li id="manage_students">
                    <a href="/students/">مدیریت دانش آموزان</a>
                </li>
                <li id="manage_teachers">
                    <a href="/teachers/">مدیریت معلمان</a>
                </li>
                <li id="teacher_course_to_class">
                    <a href="#"> تخصیص معلم و درس به کلاس‫‬</a>
                </li>
                <li id="register_student_in_class">
                    <a href="#">ثبت دانش آموز در کلاس</a>
                </li>
                <li id="display_class_list">
                    <a href="#">مشاهده فهرست کلاس</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper col-sm-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1> داشبورد مدیریتی کاربران</h1>
                        <p>داشبورد معمولا از مجموعه ای از عناصر گرافیکی تشکیل شده است و قادر به پیوستن به منابع متنوع می باشد، یعنی اطلاعات را از بانک های اطلاعاتی موجود در سازمان استخراج کرده و به صورت یکپارچه در یک صفحه، نمایش می دهد.داشبورد می تواند برای تمامی بخش های سازمان در نظر گرفته شود، مثل: منابع انسانی، استخدام، فروش، عملیات، امنیت، فناوری اطلاعات، مدیریت پروژه، مدیریت ارتباط با مشتری و غیره.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}