{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} صفحه اصلی {% endblock %}

{% block content %}

        <div class="p-5" style="background-color: azure; height:600px;">


           <h3>مدرسه </h3>
           <br>
           <p>

            مدرسه یا مکتب مکان آموزشی است که برای آموزش دانش آموزان
            تحت رهبری معلمان طراحی شده‌است.
            ‌های آموزشی پائین‌تر از سطح آموزش عالی که، آموزش عمومی در
            آن‌ها صورت می‌گیرد، گفته می‌شود.

            بیشتر کشورها سیستم آموزشی ویژه‌ای دارند، که بنابراین سیستم
            شرکت در مدارس اجباری می‌باشد. نام مدارس در
            ً شامل مدارس ابتدایی برای کودکان و راهنمایی برای نوجوانانی که
            تحصیلات ابتدایی را با موفقیت پشت سر گذاشته‌اند، می‌شود.

                        خیلی خفنه
            مدرسه یا مکتب مکان آموزشی است که برای آموزش دانش آموزان
            تحت رهبری معلمان طراحی شده‌است.
            ‌های آموزشی پائین‌تر از سطح آموزش عالی که، آموزش عمومی در
            آن‌ها صورت می‌گیرد، گفته می‌شود.

            بیشتر کشورها سیستم آموزشی ویژه‌ای دارند، که بنابراین سیستم
            شرکت در مدارس اجباری می‌باشد. نام مدارس در
            ً شامل مدارس ابتدایی برای کودکان و راهنمایی برای نوجوانانی که
            تحصیلات ابتدایی را با موفقیت پشت سر گذاشته‌اند، می‌شود.
                        خیلی خفنه
            مدرسه یا مکتب مکان آموزشی است که برای آموزش دانش آموزان
            تحت رهبری معلمان طراحی شده‌است.
            ‌های آموزشی پائین‌تر از سطح آموزش عالی که، آموزش عمومی در
            آن‌ها صورت می‌گیرد، گفته می‌شود.

            بیشتر کشورها سیستم آموزشی ویژه‌ای دارند، که بنابراین سیستم
            شرکت در مدارس اجباری می‌باشد. نام مدارس در
            ً شامل مدارس ابتدایی برای کودکان و راهنمایی برای نوجوانانی که
            تحصیلات ابتدایی را با موفقیت پشت سر گذاشته‌اند، می‌شود.
            </p>
        </div>
{% endblock %}