{% extends 'base.html' %}
{% load static %}
{% block title %}لیست دانش آموزان{% endblock %}
{% block content %}

<div class="d-flex justify-content-center m-0 text-center text-muted pt-5">
<h3>لیست دانش آموزان</h3>
</div>

<div class="d-flex justify-content-center p-5 text-center">
    <table class="table text-muted bg-muted col-8">
        <thead>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>ابزار</th>
        </thead>

        {% for student in student_list %}
            <tr>
                <td>{{ student.user.first_name }}</td>
                <td>{{ student.user.last_name }}</td>

                <td>
                    <a href="/students/delete/{{student.id}}/"><i class="ml-1 fa fa-trash-o"> </i></a>
                    <a href="/students/update/{{student.id}}/"><i class="fa fa-pencil"> </i></a>
                </td>
            </tr>
        {% endfor %}

            <tr>
                <td>افزودن دانش آموز</td>
                <td></td>
                <td><a href="/students/create/"> <i class="fa fa-plus"></i></a></td>
            </tr>
    </table>
</div>

<div class="d-flex justify-content-center m-3 text-center text-muted">
    <h3>جستوجوی دانش آموزان</h3>
</div>

<div class=" mb-5  d-flex justify-content-center p-2 text-center">
    <form action="" method="GET">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <input class="btn btn-outline-primary" type="submit" value="جستجو">
    </form>
</div>
{% endblock %}





